@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.camera-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(36, 36, 36);
    overflow: hidden;
}


.camera-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}